.nav {
    font-weight: 500;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7cbbb6;
}

.nav a {
    width: 100%;
    text-decoration: none;
}

.typeTitle {
    padding: 20px 0;
    color: black;
    width: 100%;
    text-align: center;
}

.active {
    background-color: black;
    color: white;
}

@media (max-width:600px) {
    .nav {
        width: 100%;
    }
  }